
/* Variables */
:root {

  --color-maximum-blue: hsla(194, 57%, 57%, 1);
  --color-purple-dark: #574D68;

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;  
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--color-maximum-blue);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 2rem 1rem 1rem 1rem;
}

h1 {
  font-size: 1.2rem;
  margin-bottom: 14rem;
  color: #fff;
}

.player {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 2rem 1.5rem;
  min-width: 70%;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.6);
  z-index: 10;
}
  
.player__cover--background {
  display: block;
  position: absolute;
  left: -1.6em;
  top: -0.5em;
  animation: float 3s linear infinite;
  animation-play-state: paused;
}

.player.play .player__cover--background {
  animation-play-state: running;
}

.player__cover--foreground {
  max-width: 3.5em;
  border-radius: 5px;
  object-fit: cover;
}

.player__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.player__btn {
  min-width: 2em;
  max-width: 3.5em;
  background-color: #fff;
  border: none;
  cursor: pointer;
  padding: 1em;
  margin: 0 15px;
}

.player__buttons--img {
  max-width: 100%;
}

.player__info {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 20px);
  background-color: rgba(256, 256, 256, 0.2);
  border-radius: 20px 20px 0 0;
  border-top: 2px #fff solid;
  color: #fff;
  padding: 1rem 1rem 1.5rem 1rem;
  opacity: 0;
  transition: transform 0.4s ease-in, opacity 0.3s ease-in;
  z-index: 0;
}

.player.play .player__info {
  opacity: 1;
  transform: translate(-50%, -98%);
}

.player__artist, .player__title, .player__timer {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.player__artist {
  font-size: 0.8rem;
  font-weight: 400;
  margin-bottom: 0;
}

.player__title {
  font-size: 1.2rem;
}

.player__timer {
  font-size: 1em;
  font-weight: 400;
}

.player__bar--background {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 4px;
  width: 100%;
}

.player__bar--foreground {
  background-color: var(--color-purple-dark);
  border-radius: 5px;
  height: 100%;
  width: 50%;
  transition: width 0.1 linear;
}



/* MEDIA QUERIES */

@media only screen and (min-width: 600px) {

  :root {
    font-size: 110%;
  }

  main {
    justify-content: center;
  }

  h1 {
    font-size: 1.8rem;
    margin-bottom: 14rem;
  }

  .player {
    padding: 5% 12%;
  }

  .player__cover--background  {
    top: -2rem;
    left: -4rem;
  }

  .player__cover--foreground  {
    max-width: 8rem;
  }

  .player__info {
    padding: 1rem 1rem 1rem 5rem;
  }

  .player__buttons {
    flex-direction: row;
  }

}



/* MODIFIER CLASSES */

.center {
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
}

.width-md {
  max-width: 40rem;
}


/* ANIMATIONS */

@keyframes float {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.06);
  }

  100% {
    transform: scale(1);
  }

}
