:root {
/* CSS HEX */
--maximum-blue: hsla(194, 57%, 57%, 1);
--color-progress-bar: #574D68;

}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  background-color: var(--maximum-blue);
}

h1 {
  margin-bottom: 14rem;
  color: #fff;
}

.music-container {
  display: flex;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.6);
  padding: 3rem 10rem;
  position: relative;
  z-index: 10;
}

.cover-container {
  position: absolute;
  top: -2rem;
  left: -4rem;
  animation: float 3s linear infinite;
  animation-play-state: paused;
}

.music-container.play .cover-container {
  animation-play-state: running;
}

#cover {
  max-width: 8rem;
  border-radius: 5px;
  object-fit: cover;
}

.action-btn {
  max-width: 4rem;
  background-color: #fff;
  border: none;
  cursor: pointer;
  padding: 20px;
  margin: 0 10px;
}

.img-button {
  max-width: 100%;
}

.navigation {
  display: flex;
  align-items: center;
  z-index: 1;
}

.music-info {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: calc(100% - 20px);
  background-color: rgba(256, 256, 256, 0.2);
  border-radius: 20px 20px 0 0;
  border-top: 2px #fff solid;
  color: #fff;
  padding: 1rem 1rem 1rem 5rem;
  opacity: 0;
  transition: transform 0.4s ease-in, opacity 0.3s ease-in;
  z-index: 0;
}

.music-container.play .music-info {
  opacity: 1;
  transform: translate(-50%, -98%);
}

#artist, #title, #songLength {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

#artist {
  font-size: 0.8rem;
  margin-bottom: 0;
}

#songLength {
  font-size: 1rem;
  font-weight: 400;
}

.progress-container {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 4px;
  width: 100%;
}

.progress {
  background-color: var(--color-progress-bar);
  border-radius: 5px;
  height: 100%;
  width: 50%;
  transition: width 0.1 linear;
}

@keyframes float {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.06);
  }

  100% {
    transform: scale(1);
  }

}
